$header-topbar-bg: #434343;
$header-bg: #363636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;

$bg-color-gallery: #f4f5f7;
$bg-color-gallery2:#2a2a2a;
$bg-color-gallery3: #e8edf7;
$bg-color-gallery4: #79ae30;
$border-color-gallery:#e2e2e2;
$border-color-gallery2:#000000;
$gallery-color: #d58e32;
$gallery-color2:white;
$promoted-banner-bg: #cccccc;
$dots-background: #e1e1e1;
$card-border-color: #a2a2a2;
$old-price-color: #a5a5a5;