$header-topbar-bg: #434343;
$header-bg: #363636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;

$dots-background: #e1e1e1;

$card-border-color: #a2a2a2;
$promoted-banner-bg: #cccccc;
$old-price-color: #a5a5a5;

