.section--blog-posts {
  .dot-blog {
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 6px;
    background-color: #e1e1e1;
    cursor: pointer;

    &.active {
      background-color: $primary;
    }
  }

  .col-blog {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

    @media (max-width: 1024px) {
      flex: 0 0 50%;
      max-width: 50%;
      margin: 0 auto;
    }

    @media (max-width: 767px) {
      flex: 0 0 100%;
      max-width: 100%;
      justify-content: center;
    }

    .post-box {
      margin-bottom: 2rem;

      .cover {
        padding: 0;
        position: relative;
        display: flex;
        justify-content: center;

        img {
          margin: 0;
          padding: 0;
          width: 100%;
          height: 100%;
        }

        .details {
          padding: 15px 20px;
          display: flex;
          background-color: #ffffff;
          font-size: 14px;
          position: absolute;
          bottom: 0;

          & > * {
            flex: 1 1 auto;
          }

          .date {
            text-align: left;
          }

          .comments {
            text-align: right;
          }
        }
      }

      .post-info {
        padding: 25px;

        h5 {
          color: $primary;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 1px;
        }

        p {
          font-size: 14px;
          line-height: 24px;
          color: rgb(103, 103, 103);
          text-align: justify;
        }

        .more {
          text-align: center;
          padding-top: 30px;
        }
      }
    }
  }
}
