.carousel-wrapper {
  min-height: 450px;
  margin: 0 auto;
  width: 100%;
  max-width: 300%;
  overflow: hidden;

  .products-carousel {
    width: 100%;
    display: inline-flex;
    height: 100%;

    &.mouse-drag {
      cursor: -webkit-grabbing;
      cursor: grabbing;
      user-select: none;
    }

    &:hover {
      cursor: -webkit-grabbing;
      cursor: grabbing;
    }

    .col-products {
      flex: 0 0 25%;
      width: 25%;
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;

      @media (max-width: 1024px) {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
      }

      @media (max-width: 990px) {
        flex: 0 0 50%;
        max-width: 50%;
        margin: 0 auto;
      }

      @media (max-width: 568px) {
        flex: 0 0 100%;
        max-width: 100%;
      }

      .product-box {
        background-color: #ffffff;
        border: 1px solid #e1e1e1;
        margin: 0 auto 2rem;

        &:hover {
          .btn-main-small {
            z-index: 1;
          }

          .no-hover {
            background-color: $primary;
          }
        }

        .photo {
          position: relative;
          overflow: hidden;
          align-items: flex-end;

          img {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
          }

          .sale {
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #292929;
            border-radius: 50%;
            color: #ffffff;
            padding: 30px 15px 5px;
          }

          .buttons {
            width: 100%;
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: space-around;

            .btn-main-small {
              padding: 5px 10px;

              @media (max-width: 1200px) {
                font-size: 12px;
                padding: 5px;
              }

              @media (max-width: 1024px) {
                font-size: 13px;
              }
            }
          }
        }

        .content {
          text-align: center;
          padding: 20px;

          @media (max-width: 1200px) {
            padding: 5px 5px 10px;
          }

          @media (max-width: 1024px) {
            padding: 15px;
          }

          h5 {
            color: $primary;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 1px;
          }

          .stars {
            .star {
              text-decoration: none;
              color: rgb(42, 42, 42);

              @extend .far;

              @extend .fa-star;

              &.star-hover {
                color: $primary;
                font-weight: 900;
              }

              &.full {
                @extend .fas;
              }
            }
          }
        }

        .line {
          margin: 0 10px;
          border-bottom: 1px solid #2a2a2a;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 50%;
            width: 30px;
            border-bottom: 4px solid $primary;
            transform: translateX(-50%);
          }
        }

        .actions {
          padding: 15px 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          height: 60px;

          @media (max-width: 1200px) {
            padding: 5px;
          }

          @media (max-width: 1024px) {
            padding: 15px;
          }

          .outlines {
            width: 40%;
            margin: 0;
            padding: 0;

            a.active {
              i {
                color: $primary;
              }
            }
          }

          .price {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 5px 0 0;
            width: 57%;

            @media (max-width: 1024px) {
              justify-content: flex-end;
            }

            .price-old {
              display: inline-flex;
              text-decoration: line-through;
              opacity: 0.7;
              margin-right: 5px;
              font-size: 13px;

              @media (max-width: 1200px) {
                font-size: 12px;
              }
            }

            .no-hover {
              z-index: 1;
              padding: 5px;
            }
          }
        }
      }
    }
  }
}
