.section--gallery {
  padding: 3rem 0;

  .gallery-container {
    display: flex;
    width: 100%;

    .gallery-furniture {
      height: 600px;
      padding-right: 15px;
      padding-left: 15px;
      width: 50%;
      display: flex;
      flex-direction: column;

      .gallery-area {
        height: 528px;

        .gallery-image {
          width: 100%;
          height: 440px;
          background-color: $bg-color-gallery;
          border-style: solid;
          border-color: $border-color-gallery;
          border-width: 0 2px 0 2px;
          position: relative;

          .gallery-tabs {
            display: flex;
            justify-content: space-between;
            text-align: center;

            .tab-section {
              width: 25%;
              height: 45px;
              background-color: $bg-color-gallery;
              border-style: solid;
              border-color: $border-color-gallery;
              border-width: 2px 0 2px 2px;
              text-transform: uppercase;
              font-size: 18px;
              letter-spacing: 1px;
              line-height: 45px;
              position: relative;
              margin: 0;
              animation: fadein 2s;

              &:hover {
                cursor: pointer;
              }
            }

            .tab-section-first {
              border-left: none;
            }

            .active {
              color: $gallery-color;
              background-color: $bg-color-gallery;
              border-bottom: transparent;

              &::before {
                content: '';
                position: absolute;
                border-bottom: 4px solid $gallery-color;
                width: 103%;
                top: -2px;
                left: -2px;
                z-index: 2;
              }
            }
          }

          .gallery-overlay {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 395px;
            padding-left: 10px;
            background-image: url("https://images.pexels.com/photos/923192/pexels-photo-923192.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            animation: fadein 2s;

            .gallery-icons {
              display: flex;
              flex-direction: column;

              .icon-container {
                display: flex;
                align-items: center;

                .icon-description {
                  color: $gallery-color2;
                  background-color: $bg-color-gallery2;
                  margin: 0 0 0 15px;
                  font-size: 12px;
                  padding: 3px 5px;
                  position: relative;
                  visibility: hidden;

                  &::before {
                    content: "";
                    display: inline-block;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 6px 10.4px 6px 0;
                    border-color: transparent $bg-color-gallery2 transparent transparent;
                    margin-right: 5px;
                    position: absolute;
                    left: -10px;
                    top: 6px;
                  }
                }

                .gallery-icon-gen {
                  margin: 5px 0;

                  &:hover {
                    color: $gallery-color;
                    background-color: transparent;
                    border-color: $gallery-color;
                  }

                  &:hover+.icon-description {
                    visibility: visible;
                  }
                }
              }
            }

            .product-details {
              position: relative;
              display: flex;
              flex-direction: column-reverse;
              align-items: center;
              align-self: flex-end;

              .details-box {
                height: 100px;
                width: 250px;
                background-color: $gallery-color2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;
                box-shadow: 1px 2px 37px 0.8px rgba(0, 0, 0, 0.45);

                &::before {
                  content: "";
                  display: inline-block;
                  position: absolute;
                  width: 0;
                  height: 0;
                  top: 0;
                  left: 0;
                  border-style: solid;
                  border-width: 30px 30px 0 0;
                  border-color: $border-color-gallery2 transparent transparent transparent;
                }

                &::after {
                  content: "";
                  display: inline-block;
                  position: absolute;
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 0 0 30px 30px;
                  border-color: transparent transparent $border-color-gallery2 transparent;
                  right: 0;
                  bottom: 30px;
                }

                h5 {
                  font-size: 16px;
                  line-height: 24px;
                  letter-spacing: 1px;
                }

                .stars {
                  span {
                    text-decoration: none;
                    color: rgb(42, 42, 42);
                    @extend .far;
                    @extend .fa-star;

                    &.star-hover {
                      color: $primary;
                      font-weight: 900;
                    }

                    &.full {
                      @extend .fas;
                    }
                  }
                }
              }

              .details-circle {
                height: 100px;
                width: 100px;
                background-color: rgba(123, 123, 124, 0.8);
                border-radius: 50%;
                position: absolute;
                transform: translate(0, -110%);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .price-new {
                  font-size: 18px;
                  margin: 0;
                  color: $gallery-color2;
                  font-weight: bold;
                  letter-spacing: 1px;
                }

                .price-old {
                  display: inline-flex;
                  text-decoration: line-through;
                  color: $gallery-color2;
                  margin: 0;
                  font-size: 13px;
                  letter-spacing: 1px;
                }
              }
            }
          }
        }

        .gallery-slider {
          width: 100%;
          height: 88px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          border: 2px solid $border-color-gallery;
          padding: 0 5px;
        }

        .slider-box {
          height: 70px;
          width: 30px;
          background-color: $bg-color-gallery2;
          color: $gallery-color2;
          display: flex;
          justify-content: center;
          align-items: center;
          animation: fadein 2s;
        }

        .slider-box-arr {
          &:hover {
            cursor: pointer;
            color: $gallery-color;
          }
        }

        .pictures-area {
          width: 100%;
          height: 88px;
          display: flex;
          justify-content: space-around;
          align-items: center;

          .slider-image {
            width: 70px;
            background-color: $promoted-banner-bg;

            &:hover {
              cursor: pointer;
            }

            .js-image {
              height: 100%;
              width: 100%;
              object-fit: contain;
              overflow: hidden;
            }

            .js-image-ovl {
              opacity: 0.5;
            }
          }
        }

        .slider-active {
          opacity: 1;
        }
      }
    }

    .big-picture-area {
      height: 600px;
      background-color: $bg-color-gallery3;
      width: 50%;
      position: relative;

      img {
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        object-fit: cover;
      }

      .text-area {
        position: absolute;
        top: 50px;
        left: 50px;
        display: flex;
        flex-direction: column;

        .text-price {
          display: flex;
          align-items: flex-end;
          font-size: 18px;
          letter-spacing: 1px;
          margin: 0;

          .text-price-left {
            margin: 0 10px 10px 0;
          }

          .text-price-right {
            color: $bg-color-gallery4;
            font-size: 40px;
            letter-spacing: 1px;
            margin: 0;
            font-weight: bold;
          }
        }

        .product-name {
          color: $gallery-color;
          font-size: 40px;
          letter-spacing: 1px;
          margin: 0 0 20px;
          font-weight: bold;
        }

        .shop-button {
          background-color: $bg-color-gallery4;
          color: $gallery-color2;
          font-size: 14px;
          z-index: 2;
          height: 50px;
          width: 140px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;
          border-radius: 5px;

          &:hover {
            background-color: $gallery-color !important; //important uzyty by nadpisac kolory uzyte bez bootstrapa
          }
        }
      }
    }
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}